# Forest Fire Prediction

## Imports

In [7]:
import pandas as pd
from tabulate import tabulate
import numpy as np

## Dataset

In [9]:
df = pd.read_csv('forest_fire_dataset.csv')
df['Date'] = pd.to_datetime(df[['year', 'month', 'day']])
df.drop(columns=['day', 'month', 'year'], inplace=True)
df.set_index('Date', inplace=True)
df['Classes']=np.where(df['Classes'].str.contains("not fire"),0,1)

df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
Date,,,,,,,,,,,,
2012-06-01,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0,0
2012-06-02,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0,0
2012-06-03,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0,0
2012-06-04,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0,0
2012-06-05,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0

In [10]:
summary = df.describe().transpose().round(2)
summary = summary.drop('count', axis=1)
table = tabulate(summary, headers='keys', tablefmt='rounded_grid')
print(table)

╭─────────────┬────────┬───────┬───────┬───────┬───────┬───────┬───────╮
│             │   mean │   std │   min │   25% │   50% │   75% │   max │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ Temperature │  32.15 │  3.63 │  22   │ 30    │  32   │ 35    │  42   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ RH          │  62.04 │ 14.83 │  21   │ 52.5  │  63   │ 73.5  │  90   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ Ws          │  15.49 │  2.81 │   6   │ 14    │  15   │ 17    │  29   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ Rain        │   0.76 │  2    │   0   │  0    │   0   │  0.5  │  16.8 │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ FFMC        │  77.84 │ 14.35 │  28.6 │ 71.85 │  83.3 │ 88.3  │  96   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ DMC         │  14.68 │ 12.39 │   0.7 │  5.8  │  11.3 │ 20.8  │  65.9 │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ DC          │  49.43 │ 47.67 │   6.9 │ 12.35 │  33.1 │ 69.1  │ 220.4 │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ ISI         │   4.74 │  4.15 │   0   │  1.4  │   3.5 │  7.25 │  19   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ BUI         │  16.69 │ 14.23 │   1.1 │  6    │  12.4 │ 22.65 │  68   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ FWI         │   7.04 │  7.44 │   0   │  0.7  │   4.2 │ 11.45 │  31.1 │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ Classes     │   0.56 │  0.5  │   0   │  0    │   1   │  1    │   1   │
├─────────────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ Region      │   0.5  │  0.5  │   0   │  0    │   0   │  1    │   1   │
╰─────────────┴────────┴───────┴───────┴───────┴───────┴───────┴───────╯